.sb {
    background-color: #e2e3e5;
}

img {
    height: 300px;
}

.sb-current {
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

h1, h3, h5 {
    font-weight: 100;
}

hr {
    width: 100%;
}

footer {
    color:#c6c6c6;
}

.sb-token {
    border: 1px solid #e2e3e5;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.tag {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    margin-left: 0px;
}

.CSS {
    color: white;
    background-color: rgb(196, 196, 196);
}

.JS {
    color: white;
    background-color: rgb(196, 196, 196);
}

.PROJECT {
    color: white;
    background-color: rgb(118, 118, 118);
}

.BLOG {
    color: white;
    background-color: rgb(118, 118, 118);
}


@media screen and (max-width: 576px) {
    .sb-token {
        border-color: white;
    }

    h3 {
        font-size: medium;
        background-color: #e2e3e5;
        padding: 5px;
        border-radius: 5px;
    }

    img {
        height: 200px;
      }
}